/* 


#header{
    background-color: black;
    color:white;
}

#first{
    background-color: #bdbdda;
}

.second{
    background-color: rgb(100, 237, 219);
}

#third{
    background-color: cornflowerblue;
} */
